<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net40" />
  <package id="EFInteractiveViews" version="1.0.1" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net40" />
  <package id="EntityFramework.ru" version="6.1.2" targetFramework="net40" />
  <package id="Fody" version="1.25.0" targetFramework="net40" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net40" developmentDependency="true" />
</packages>