<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Zlatmet2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Zlatmet2Clean;Integrated Security=True;" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="${specialfolder:ApplicationData}\Zlatmet\${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:Format=ToString:separator=&#xD;&#xA;}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <!--<logger name="TestLogConsoleApplication.Class2" minlevel="Off" writeTo="file" />-->
    </rules>
  </nlog>
  <userSettings>
    <Zlatmet2.Properties.Settings>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowJournal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JournalPeriodType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="JournalPeriodFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="JournalPeriodTo" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>0</value>
      </setting>
    </Zlatmet2.Properties.Settings>
  </userSettings>
</configuration>